/*
----------------------------------------------------
COLORS VARIABLES
----------------------------------------------------
*/
.border-blue {
  border: blue 2px solid;
}

.border-red {
  border: red 2px solid;
}

.border-green {
  border: green 2px solid;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Kumbh Sans", "Oswald", "Yellowtail", "Permanent Marker", "Quattrocento Sans", "Damion", "Herr Von Muellerhoff", "Inter", "cursive", sans-serif;
  font-size: 16px;
  list-style: none;
  text-decoration: none;
}

body,
html {
  max-width: 1200px;
  margin: auto;
  height: 100vh;
  box-sizing: border-box;
}

/*
----------------------------------------------------
NAVBAR
----------------------------------------------------
*/
.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
  height: 75px;
  width: 100%;
  border-bottom: 1px solid hsl(223, 64%, 98%);
  padding: 0 50px;
}
.navbar a {
  margin: 0;
}
.navbar > * {
  margin: 0 20px;
}
.navbar .nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
  flex: 1;
  flex-wrap: nowrap;
  height: 100%;
}
.navbar .nav ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 100%;
  margin: 0;
}
.navbar .nav ul .nav-item {
  color: hsl(220, 14%, 75%);
  height: 100%;
  flex: 0.1;
  border: 3px solid transparent;
  transition: border ease 0.5s;
}
.navbar .nav ul .nav-item:hover {
  border-bottom: hsl(26, 100%, 55%) 3px solid;
  transition: border ease 0.5s;
}
.navbar .nav ul .nav-item .nav-link {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 0 0px;
  color: gray;
  text-align: center;
  height: 100%;
  font-size: 0.9rem;
  vertical-align: center;
  transition: color 1s ease;
}
.navbar .nav ul .nav-item .nav-link:hover {
  color: hsl(0, 0%, 0%);
  transition: color 1s ease;
}
.navbar .nav .profile {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
  flex: 1;
  position: relative;
}
.navbar .nav .profile svg {
  scale: 0.75;
}
.navbar .nav .profile .icons {
  margin-right: 15px;
}
.navbar .nav .profile a img {
  width: 40px;
  height: 40px;
  border: transparent 2px solid;
  transition: border ease 0.5s;
  border-radius: 50%;
}
.navbar .nav .profile a img:hover {
  border: hsl(26, 100%, 55%) 2px solid;
  transition: border ease 0.5s;
}

.bucket {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

#cart {
  background: hsl(26, 100%, 55%);
  color: white;
  border-radius: 50%;
  margin: 5px;
  width: 2rem;
  height: 2rem;
  display: inline-block;
  display: none;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  position: absolute;
  top: -30px;
  scale: 0.8;
}

.icon {
  font-size: 2rem;
  text-align: center;
  vertical-align: middle;
  transition: scale 0.25s linear, color linear 0.25s;
  margin: 0;
  padding: 0;
  position: absolute;
  border-radius: 50%;
}
.icon:hover {
  color: hsl(26, 100%, 55%);
  transition: scale 0.25s linear, color linear 0.25s;
}

.before,
.after {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background: white;
  width: 50px;
  height: 50px;
  z-index: 2;
}
.before svg,
.after svg {
  font-size: 1rem;
}
.before:hover *,
.after:hover * {
  scale: 1.2;
  font-weight: bold;
}

.before {
  left: -25px;
}

.after {
  right: -25px;
}

.close {
  color: white;
}

.modal-dialog {
  height: 80vh;
  max-width: 100%;
}

.modal-bg {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  padding: 5%;
  border: none;
  position: relative;
  height: 100%;
  width: 50%;
  background: red;
  margin: auto;
}
.modal-bg * {
  margin: 0;
  padding: 0;
}
.modal-bg .modal-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  height: 40%;
  position: relative;
  margin: 15% auto;
}
.modal-bg .modal-body .arrow-next,
.modal-bg .modal-body .arrow-prev {
  position: absolute;
}
.modal-bg .modal-body .main-picture img {
  width: 100%;
}
.modal-bg .modal-header {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 100%;
  height: 5%;
  border: none;
  margin-top: 0;
}
.modal-bg .modal-header button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  top: 15px;
  right: 25px;
  width: 30px;
  height: 30px;
  background: none;
  border: none;
  /*
  span {
      @include flex(row, center, center);
      font-size: 2rem;
      text-align: center;
      vertical-align: middle;
      transition: scale .25s linear, color linear .25s;
  }
  &:hover span {
      scale: 1.2;
      font-weight: bold;
      color: $orange;
      transition: scale .25s linear, color linear .25s;
  }*/
}
.modal-bg .modal-footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  height: 10%;
  border: none;
}

/*
----------------------------------------------------
MAIN CONTENT = SIDEBAR IMAGES + ARTCILE DETAILS
----------------------------------------------------
*/
.picture-slider {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-start;
  width: 100%;
  height: 100%;
  width: 100%;
  gap: 5px;
  flex-wrap: nowrap;
  padding-left: 0;
}
.picture-slider a {
  display: inline-block;
  width: 100%;
  margin: 5px;
}
.picture-slider a img {
  width: 100%;
  border-radius: 10px;
}
.picture-slider a:hover {
  opacity: 60%;
}

.main-picture {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
  width: 100%;
  overflow: hidden;
  scroll-behavior: smooth;
}
.main-picture img {
  border-radius: 15%;
  margin: 0 auto;
  width: 100%;
}

.main-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  height: 100%;
  width: 80%;
  gap: 50px;
  margin: 20px auto;
}
.main-content .article-pictures {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  height: 100%;
  width: 45%;
  height: 80%;
}
.main-content .article-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  height: 100%;
  width: 45%;
  height: 80%;
}
.main-content .article-content .compagny-name {
  color: hsl(26, 100%, 55%);
}
.main-content .article-content .article-title {
  font-size: 2rem;
}
.main-content .article-content .product-info {
  color: hsl(220, 14%, 75%);
  font-weight: 400;
}
.main-content .article-content .article-price .price {
  font-size: 1.6rem;
}
.main-content .article-content .article-price .sales {
  background: hsl(25, 100%, 94%);
  color: hsl(26, 100%, 55%);
  border-radius: 5px;
  padding: 2px 3px;
  font-size: 0.9rem;
  font-style: normal;
  font-weight: 700;
  vertical-align: text-top;
}
.main-content .article-content .article-price .no-sale-price {
  display: block;
  text-decoration: line-through;
  color: hsl(220, 14%, 75%);
}
.main-content .article-content .buy-form {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 100%;
  height: 50px;
}
.main-content .article-content .buy-form .article-number, .main-content .article-content .buy-form .article-number #arcticleNumber,
.main-content .article-content .buy-form .article-number button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border: none;
  height: 100%;
  width: -moz-fit-content;
  width: fit-content;
  margin-right: 20px;
  text-align: center;
  background: hsl(223, 64%, 98%);
  border-radius: 10px;
  font-size: 0.9rem;
  font-weight: 700;
}
.main-content .article-content .buy-form .article-number #arcticleNumber,
.main-content .article-content .buy-form .article-number button,
.main-content .article-content .buy-form .article-number #arcticleNumber button,
.main-content .article-content .buy-form .article-number button button {
  width: 60px;
  text-align: center;
  margin: 0;
}
.main-content .article-content .buy-form .article-number #articleNumber {
  padding: 0;
  margin: 0;
}
.main-content .article-content .buy-form .add-cart-btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background: hsl(26, 100%, 55%);
  padding: 3px 50px;
  height: 100%;
  border-radius: 10px;
  border: none;
  box-shadow: 0 1px 10px hsl(26, 100%, 55%);
  font-size: 0.9rem;
  font-weight: 700;
  color: hsl(223, 64%, 98%);
}
.main-content .article-content .buy-form .add-cart-btn:hover {
  background: #ffa866;
}
.main-content .article-content .buy-form .add-cart-btn svg {
  scale: 0.65;
  margin-right: 10px;
  fill: white;
}

.attribution {
  margin: 30px;
}/*# sourceMappingURL=main.css.map */